#ifndef _BLYNK_CONFIG_H_
#define _BLYNK_CONFIG_H_
#define BRIDGING
#define LOCAL

char ssid[] = "your_wifi_ssid";
char pass[] = "your_wifi_password";
char auth[] = "your_blynk_auth";

#ifdef LOCAL
  IPAddress addr = IPAddress(0, 0, 0, 0); // enter your local server's IP
#else
  char addr[] = "blynk-cloud.com";
#endif

#ifdef BRIDGING
  char bridge_auth[] = "bridge_device_auth";
#endif // BRIDGING
#endif
